html,body {height: 100%;font-size: 16px;width:100%;max-width:100%;overflow-x:hidden;}
#wrap { display:block;
 		min-height: 100%;
        height: auto !important;
        height: 100%;
	/* Negative indent footer by it's height */
        margin: 0 auto -170px; /* negative indent = push+padding_bottom*/
        /*padding-bottom: 30px;*/
        }

/* Set the fixed height of the footer here */
#push{height:170px;display:block;} /*height = footer_height+footer_paddings*/
footer {height: 170px;display:block;background-color: #eeeeee; margin: 20px 0;} /*same color as the hero unit*/
#footer-container {background-color: #eeeeee;/*margin-top: 20px;margin-bottom:20px;padding-top: 20px;padding-bottom:20px;*/
}

#sponsors{background-color: #eeeeee;text-align: center;}
/*footer:hover #sponsors {
	transition: 5s;
    display: inline;
    background-color: #eeeeee;	
}*/

div>img{max-width:100%;}

img.sponsor {height: 1.5cm; max-height:2cm; max-width:7cm;
	     /*-webkit-filter: grayscale(100%);
-moz-filter: grayscale(100%);
filter: grayscale(100%);*/
margin:.25cm;}

img.sponsor:hover {filter: none;
    -webkit-filter: grayscale(0);}
